ion-title {

    color      : #4A5248;
    font-family: quicksand;

}

h1{

    font-family: quicksand;
    font-size: 22px;
    font-weight: bold;
    color: #4A5248;
    text-align: center;
}
h4{
    font-family: quicksand;
    font-size: 14px;
    font-weight: bold;
    color: #4A5248;
    margin-left: 3%;
    margin-top: 5%;
}

p{

    font-family: quicksand;
    font-size: 14px;
    font-weight: regular;
    color: #4A5248;
    margin-left: 3%;
    margin-top: 5%;

}

img {

    margin-left: 35%;
    margin-top : 3%;
}