<ion-header>
  <ion-toolbar>
    <img (click)="voltar()" class="seta" src="assets/setaverde.svg" slot="start">
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <h1>Adicionar Tarefa</h1>
  </ion-item>
<div class="posicao">
  <form class="largura">
    <ion-item>
      <ion-label position="floating">Tarefa</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data e Hora</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Designar</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Detalhes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </form>

  <ion-button type="submit">Adicionar</ion-button>
</div>

</ion-content>