.largura {

  margin-top: 6%;
  margin-left: 0%;
  width: 100%;
  font-family: Quicksand;
  color:#4A5248;

}

h1{

  font-family: Quicksand;
  color:#4A5248;
  font-size: 23px;
}

ion-button {

    width        : 70%;
    margin-top   : 10%;
    margin-left  : 14%;
    margin-bottom: 10%;
}

.posicao{

    margin-top: 10%;
}
.seta{

  width: 7%;
  height: 7%;
  margin-left: 2%;
  margin-bottom: 0px;
}

ion-title{

    font-family: quicksand;
    font-size: 22px;
}
