.largura {

  margin-top: 6%;
  margin-left: 10%;
  width: 75%;

}

ion-button {

    width        : 70%;
    margin-top   : 10%;
    margin-left  : 14%;
    margin-bottom: 10%;
}

.posicao{

    margin-top: 15%;
}
