ion-content {

    --ion-background-color: #4A5248;

}

.logotipo{

    position: absolute;
    text-align: center;
    left: 18%;
    right: 0;
    bottom: 0;
    top: 7%;
    width: 62%;

}

.logo {

    text-align: center;
    left: 0;
    right: 0;
    margin:0 auto;
    margin-top:45%;

    h1{

        color: #9ee36a;
        font-family: 'Quicksand';
        font-size: 16px;
    }
    
}

.add{

    width: 100% !important;
    height: 100% !important;
    max-width: 317px !important;
    max-height: 75px !important;
    margin-top: 50%;
  
}

ion-button{

    justify-content: center;
    align-content: center;
    margin-top: 30%;
    margin-left: 40%;
    background: clear;

}