ion-content {

    --ion-background-color: #4A5248;

}

.logotipo{

    position: absolute;
    text-align: center;
    left: 18%;
    right: 0;
    bottom: 0;
    top: 7%;
    width: 62%;
   

}

.logo {

    text-align: center;
    left: 0;
    right: 0;
    margin:0 auto;
    margin-top:45%;

    h1{

        color: #ffffff;
        font-family: 'Quicksand';
        font-size: 16px;
    }
    
}

.add{

    
    margin-left: 38%;
    right: 0;
    margin-top:50%;
    width: 120%;
    
}