<ion-header>
  <ion-toolbar>
    <ion-title>Membros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container">

    <ion-item>
      <h1>Membros da Familia</h1>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/silvio.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Silvio</h2>
        <h3>Filho</h3>
        <h3>15 anos</h3>
        <p>22 tarefas concluidas</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/silvio.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Clóvis</h2>
        <h3>Pai</h3>
        <h3>30 anos</h3>
        <p>220 tarefas concluidas</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/silvio.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Silvio</h2>
        <h3>Filho</h3>
        <h3>15 anos</h3>
        <p>22 tarefas concluidas</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/silvio.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Silvio</h2>
        <h3>Filho</h3>
        <h3>15 anos</h3>
        <p>22 tarefas concluidas</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/silvio.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Silvio</h2>
        <h3>Filho</h3>
        <h3>15 anos</h3>
        <p>22 tarefas concluidas</p>
      </ion-label>
    </ion-item>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <img (click)="abriraddmembro()" src="assets/add-ion.svg" width="60%" height="60%">
    </ion-fab>

  </div>

</ion-content>