ion-title{

    font-family: quicksand;
    font-size: 22px;
    margin-left: -32%;
}

ion-fab{


    position: fixed;
    
}

h1{

    color: #4A5248;
    font-family: quicksand;
    font-size: 20px;

}

ion-item{

    font-family: quicksand;
    color: #4A5248;
}
