ion-header{

    font-family: quicksand;

}

ion-content{

    font-family: quicksand;


.icone{
  
  
  margin-left: 42%;
  margin-top: 10%;
  
}

.close {

    margin-top: 15%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #4A5248;

}

.editar{
    margin-top: 5%;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.logout{
    margin-top: 5%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 10%;

}

.dados{

    text-align: center;
    margin-top: 10%;
    color: #4A5248;
}

h1{

    text-align: center;
    color: #4A5248;
}

}