
<ion-header translucent="true">
  <ion-toolbar>
    <ion-back-button (click)="close()" slot="start"></ion-back-button>
    <ion-avatar><img src="assets/logo/logooficial.svg"</ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Perfil</h1>

  <div class="icone">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>

  <div class="dados">
    <p>Nome</p>
    <p>Idade</p>
    <p>Parentesco</p>
    <p style="font-weight: bold; font-size: 19px;">Tarefas Concluída</p>
  </div>

  <div class="close">
    <ion-button (click)="editarperfil()" class="button-clear">Editar Perfil</ion-button>
  </div>
  <div class="editar">
    <ion-button class="button-clear">Créditos</ion-button>
  </div>
  <div class="logout">
    <ion-button class="button-clear">Sair</ion-button>
  </div>
</ion-content>
