ion-header{

    font-family: quicksand;

}

ion-content{

    font-family: quicksand;




.icone{
  
  
  margin-left: 42%;
  margin-top: 10%;
  
}

.close {

    margin-top: 8%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #4A5248;

}

.editar{
    margin-top: -1%;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.logout{
    margin-top: 0%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 10%;

}

.dados{

    text-align: center;
    margin-top: 10%;
    color: #4A5248;
}

h1{

    text-align: center;
    color: #4A5248;
}

}

.logo{

    width: 32%;
    height: 8%;
    margin-left: 23%;
    margin-top: 5px;
}

.seta{

    width: 7%;
    height: 6%;
    margin-left: 4%;
    margin-bottom: 0px;

}