img{
  
    margin-left: 25%;
    margin-top: 5%;
  
}

.enter{

    width: 50%;
    margin-top: 0%;
    margin-left: 25%;
}
.register{

    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    --ion-background-color: #9ee36a;

}

p{
   
    color: #4A5248;

}