img{
    
    
    margin-left: 15%;
    top: 0;
  
}

.enter{

    width: 70%;
    margin-top: 0%;
    margin-left: 15%;
    
}
.register{

    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    

}

p{
    margin-top: 10%;
    color: #4A5248;

}