<ion-header>
  <ion-toolbar>
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <h1 class="ion-text-center">Tarefas da Familia</h1>
  </ion-item>
 
  <ion-item (click)="status()">
    <ion-avatar slot="start">
      <img src="assets/310.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Tarefa:</h3>
      <h4>Data da Tarefa:</h4>
      <h4>Pontuação:</h4>
      <h4>Status:</h4>
    </ion-label>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <img (click)="addtarefa()" src="assets/add-ion.svg" width="60%" height="60%">
  </ion-fab>


</ion-content>