img{

    
    margin-left: 15%;
    margin-top: 10vh;
}

.top{

    font-family: Quicksand;
    text-align: center;
    width     : 100%;
    margin-top: 10%;
    
    h1{

        font-family: quicksand;
    }

    form{
        
        font-family: Quicksand;
        text-align: center;
        width: 100%;
        margin-top: 10%;
        left: 0;
        right: 0;

    }

    ion-button{

        width: 70%;
        margin-top: 15%;
    }

}

h1 {

    color      : #4A5248;
    font-weight: regular;

}

p {

    color: #4A5248;
}

h4 {

    color      : #4A5248;
    font-weight: bold;
    margin-top: 22%;
}