<ion-content class="fundo">

  <!-- <ion-slides>
    <ion-slide>-->
  <div class="container">
    <div class="logo">
      <img src="assets/logo/myfamily-verde.svg" width=52% height=42%>
    </div>

    <div class="top">
      <h1 class="ion-text-center">Entrar</h1>

      <form>
        <ion-item>
          <ion-label position="floating">Login</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </form>
      
      <ion-button type="submit">Entrar</ion-button>

      <p class="ion-text-center ion-btn-link">Esqueci minha senha</p>

      <h4 class="ion-text-center">Inscrever-se</h4>

    </div>

    <!--</ion-slide>
    <ion-slide>
      <h1>cadastrp</h1>
    </ion-slide>
  </ion-slides>-->
  </div>
</ion-content>