ion-slide {

    height: 100%;
    font-family: Quicksand;

}
.slide-inner {

    text-align: center;
    width: 100%;
    margin-top: 35%;

    .largura{

        width: 100%;
    }
    
}

img{

    position: absolute;
    text-align: center;
    left: 18%;
    right: 0;
    bottom: 0;
    top: 7%;
    width: 62%;
   

}


h1 {


    color: #4A5248;

}


ion-button {

    width        : 70%;
    text-align: center;
    align-content: center;
    align-self: center;
    margin-top: 10%;
}

p {

    color: #4A5248;
    font-weight: bold;


}

h4 {

    color      : #4A5248;
    font-weight: bold;
    margin-top : 20%;
}

