ion-title {
    position: absolute;
    text-align: left;
    padding-top: 2.3%;
    
  
}
ion-avatar {
    width: 12%;
    height: 13%;
    float: right;
    margin-top: 0%;
    margin-right: 2%;
}

.logo{

  width: 32%;
  height: 8%;
  margin-left: 3%;
  margin-top: 11px;
  
}
