ion-title {

    position  : absolute;
    text-align: left;
    margin-top: 1%;
}

ion-avatar {

    width       : 10%;
    height      : 10%;
    float       : right;
    margin-top  : 0%;
    margin-right: 2%;
}