<ion-header>
  <ion-toolbar>

    <ion-back-button defaultHref="tabs/membros" slot="start"></ion-back-button>
    <ion-title>Adicionar Membro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <div class="titulo">
      <ion-label class="ion-text-center">Nome da Família</ion-label>
    </div>
  </ion-item>
  <div class="logo">
    <img src="assets/logo/myfamily-verde.svg" width="40%">
  </div>

  <form class="largura">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parentesco</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="entrar">
      <ion-button type="submit">Entrar</ion-button>
      </div>
    </form>

</ion-content>