.titulo{

    color: #4A5248;
    font-size: 110%;
    font-weight: 500;

}

.logo{

    text-align: center;
	align-content: center;
    align-self: center;
    margin-top: 20%;
}

.largura{

    width: 70%;
    text-align: center;
    align-content: center;
    align-self: center;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 20px;
}
.entrar{

    margin-top: 15%;
}


