<ion-header>
  <ion-toolbar>
    <img (click)="voltar()" class="seta" src="assets/setaverde.svg" slot="start">
    <ion-title>Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>

    <h1>Detalhes da Tarefa</h1>

  </ion-item>

  <div class="info">
    <p>Tarefa:</p>
    <p>Entrega:</p>
    <p>Para:</p>
    <p>Detalhes:</p>
  </div>

  <div class="camera">
    <img src="assets/camera.svg" width="80%">
  </div>

  <ion-button type="submit">Concluir</ion-button>

</ion-content>