<ion-header>
  <ion-toolbar>
    <ion-title>Atividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Minhas Atividades</h1>

  <img class="reuniao" (click)="abrirReuniao()" src="assets/reuniao.svg">

  <img class="viajem" (click)="abrirViajem()" src="assets/viajem.svg">

  <img class="conselho" (click)="abrirConselho()" src="assets/Conselho.svg">

  <img class="comemoracao" (click)="abrirComemoracao()" src="assets/comemoracao.svg">

  <div class="fotos">
    <img (click)="abrirFotos()" src="assets/albumdefotos.svg">
  </div>

</ion-content>