ion-title{

    font-family: Quicksand;
    font-size: 22px;
    margin-left: -30%;
}

h1{

    text-align: center;
    margin-top: 1%;
    color: #4A5248;
    font-family: Quicksand;
    font-size: 20px;
}

img {

    width: 50%;
    height: 34%;
    margin-bottom: -3%;
    margin-top: -2%;

}

.fotos{


    width: 204%;
    margin-top: 5%;
}